body {
  margin: 0;
  overflow-x: hidden;
}

/* -- HEADER -- */

header {
  width: 100vw;
  height: 80px;
  background-color: #008C8C;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 3;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

header.header_collapse {
  height: 52px;
}

.header_content.header_collapse {
  height: 52px;
}

.header_content {
  width: 60vw;
  max-width: 1300px;
  height: 80px;
  padding: 0 16px 0 16px;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/logo_small.png");
  background-size: cover;
  transition: 0.2s ease;
  cursor: pointer;
}

.logo_small {
  width: 40px;
  height: 40px;
}

/* -- NAVIGATION -- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  padding: 4px 16px 4px 16px;
  margin: 0 8px 0 8px;
  cursor: pointer;
}

#shop_link {
  border: 2px solid white;
  border-radius: 2px;
}

.nav_link h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  margin: 0;
}

.nav_link:hover h1 {
  color: #eee;
}

a, a:link, a:visited {
  text-decoration: none;
}

/* -- AUTO DOWN -- */

.autoscroll_down {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 675px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.autoscroll_down_button {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 64px;
  cursor: pointer;
}

/* -- COPY IP -- */

.copy_ip {
  padding: 16px;
}

.ip {
  padding: 4px 16px 4px 16px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.ip h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

.copy {
  padding: 4px 16px 4px 16px;
  background-color: #008C8C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.copy h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

.copied_ip {
  display: none;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 200px;
  justify-content: center;
  padding: 16px 0 16px 0;
}

.copied_ip_box {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copied_ip_box h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
  margin: 16px;
}

.copied_ip_box h2 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  margin: 8px;
}

/* COPY IP CHECKMARK */

.checkmark__circle {
stroke-dasharray: 166;
stroke-dashoffset: 166;
stroke-width: 2;
stroke-miterlimit: 10;
stroke: #7ac142;
fill: none;
animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
width: 56px;
height: 56px;
border-radius: 50%;
display: block;
stroke-width: 2;
stroke: #fff;
stroke-miterlimit: 10;
margin: 10% auto;
box-shadow: inset 0px 0px 0px #7ac142;
animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
transform-origin: 50% 50%;
stroke-dasharray: 48;
stroke-dashoffset: 48;
animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
100% {
  stroke-dashoffset: 0;
}
}

@keyframes scale {
0%, 100% {
  transform: none;
}
50% {
  transform: scale3d(1.1, 1.1, 1);
}
}

@keyframes fill {
100% {
  box-shadow: inset 0px 0px 0px 30px #7ac142;
}
}

/* -- TOP -- */

.top {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
}

.top_logo {
  width: 100vw;
  height: 380px;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0;
}

.top_logo_img {
  width: 250px;
  height: 280px;
  background-image: url("../img/logo.png");
  background-size: cover;
}

.top_text {
  display: flex;
  flex-direction: column;
}

.top_content {
  width: 60vw;
  max-width: 1300px;
  height: 700px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
}

.top_text h1, .top_text p, .top_text h2{
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.top_text h1 {
  font-size: 50px;
}

.top_buttons {
  padding: 16px 0 16px 0;
  display: flex;
}

.top_button {
  padding: 4px 16px 4px 16px;
  border: 2px solid white;
  margin: 0 8px 0 8px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top_button h2 {
  font-size: 12px;
}

#top_store {
  background-color: #008C8C;
  border: 2px solid #008C8C;
}

/* -- CONTENT -- */

.content_frame {
  width: 100vw;
}

/* -- NEWS -- */

#News {
  display: flex;
  justify-content: center;
}

.news_content {
  width: 60vw;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_title {
  color: #212121;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding: 32px 0 32px;
}

.news_blocks {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news_block {
  width: 300px;
  height: 300px;
  margin: 16px;
  display: flex;
  align-items: flex-end;
  transition: .5s ease;
}

.news_block_text {
  width: 300px;
  height: 54px;
  padding: 16px 0 16px 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  transition: 0.2s ease;
}

.news_block:hover {
  background-size: 400px 400px;
}

.news_block:hover .news_block_text {
  height: 130px;
}

.news_block_text h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  margin: 16px;
}

.news_block_text p {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 8px;
}

.news1 {
  background-image: url("../img/news1.png");
  background-size: 300px 300px;
}

.news2 {
  background-image: url("../img/news2.png");
  background-size: 300px 300px;
}

.news3 {
  background-image: url("../img/news3.png");
  background-size: 300px 300px;
}

.news4 {
  background-image: url("../img/news4.png");
  background-size: 300px 300px;
}

.news5 {
  background-image: url("../img/news5.png");
  background-size: 300px 300px;
}

.news6 {
  background-image: url("../img/news6.png");
  background-size: 300px 300px;
}


/* -- CLYSTER -- */

#Clyster {
  background-color: #212121;
  display: flex;
  justify-content: center;
}

.clyster_content {
  width: 60vw;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clyster_title {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding: 32px 0 32px;
}

.clyster_blocks {
  display: flex;
}

.clyster_block {
  max-width: 200px;
  padding: 16px;
  margin: 0 32px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clyster_block i {
  color: white;
  font-size: 50px;
}

.clyster_block h1, .clyster_block p {
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.clyster_block h1 {
  font-size: 20px;
}

.clyster_block p {
  font-size: 15px;
  text-align: center;
}

/* -- STAFF -- */

#Staff {
  display: flex;
  justify-content: center;
}

.staff_content {
  width: 70vw;
  max-width: 1300px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff_title {
  color: #212121;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding: 32px 0 32px;
}

.staff_members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.staff_member {
  width: 200px;
  padding: 16px;
  margin: 16px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(50%);
  transition: 0.2s ease;
}

.staff_member:hover {
  transform: scale(1.1);
}

.staff_member h1 {
  color: #008C8C;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

.staff_member p {
  color: #212121;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.staff_member img {
  transition: 2s ease;
}

.look {
  transform: scale(-1, 1);
}

/* -- GAMES -- */

#Games {
  background-color: #212121;
  display: flex;
  justify-content: center;
}

.games_content {
  width: 60vw;
  max-width: 1300px;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games_title {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding: 32px 0 32px 0;
}

.game_servers {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game_server {
  width: 300px;
  padding: 16px;
  margin: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  filter: grayscale(50%);
}

.game_explain {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_explain h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  margin: 16px;
}

.game_explain hr {
  width: 268px;
  border: none;
  height: 1px;
  background-color: white;
}

.game_explain p {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  margin: 8px;
  text-align: center;
}

.game_soon img {
  filter: blur(5px);
}

/* -- FOOTER -- */

footer {
  width: 100vw;
  padding: 32px 0 32px 0;
  background-color: #008C8C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer_section {
  display: flex;
}

.footer_section h1 {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  margin: 4px;
}

.footer_links {
  padding: 4px 16px 4 16px;
  margin: 16px;
  display: flex;
  align-items: center;
}

#footer_top {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 2px;
  padding: 4px 16px 4px 16px;
}

/* MOBILE */

@media (max-width: 720px) {
  header {
    display: none;
  }

  .mobile_header {
    width: 100vw;
    background-color: #008C8C;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .mobile_header_content {
    width: 100vw;
    height: 52px;
    display: flex;
    align-items: center;
  }

  .mobile_header_content i {
    color: white;
    margin-left: 16px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 0 4px 0 4px;
  }

  .mobile_menu_list {
    height: 0;
    overflow: hidden;
    background-color: #008896;
    transition: 0.2s ease;
  }

  .mobile_menu_list.mobile_menu_list_open {
    height: 240px;
  }

  .mobile_links {
    height: 48px;
    display: flex;
    align-items: center;
  }

  .mobile_links h1 {
    margin-left: 16px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
  }

  .autoscroll_down {
    display: none;
  }

  .copy_ip {
    display: none;
  }

  .clyster_blocks {
    flex-direction: column;
  }

  .footer_content {
    flex-direction: column;
  }
}

@media (min-width: 721px) {
  .mobile_header {
    display: none;
  }
}
